.show-for-iphone{ display: none; }
.show-for-ipad{ display: none; }
.show-for-ipod{ display: none; }
.show-for-android{ display: none; }
.show-for-blackberry{ display: none; }
.show-for-kindle{ display: none; }